:root {

    --background: rgba(255, 253, 130, 0.85);
    --font-size: calc(.9em + .5vw);
    --line-height: calc(1.2em + 1vw);
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
    /* overflow: hidden; */


}

/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    /*This ensures the header is always on top of everyhing else */
    width: 100%;
    color: #fff;
    font-size: calc(.3em + .7vw);
    line-height: calc(2em + 2vw);
}

/* .logo-scrolled {
    --text: #ffffff;

    color: var(--text);
} */

/* #home_btn a {
    text-decoration: none;
    color: #fff;
} */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #fff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    /* display: none; */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav li {

    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked~nav {
    /* display: block; */
    transform: scale(1, 1);
}

.nav-toggle:checked~nav li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-scrolled {
    --text: #f5f5f5;
    --background: #272525;

    color: var(--text);
    background: var(--background);
    box-shadow: 0 3px 20px rgba(black, 0.2);
}

#home_btn {
    user-select: none;
}

/* ----------First section----------- */

.first-section {
    position: relative;
    background-image: 
        linear-gradient(to bottom, rgba(32, 32, 43, 0.62), rgba(12, 10, 11, 0.83)), url('../src/Images/marek.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;


}

.logo {
    margin-top: 1rem;
}

.text_header {
    position: absolute;
    color: var(--background);
    font-size: 90px;
    font-family: 'Great vibes', 'cursive';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------Second content--------- */

.content {
    --font-size: calc(.5em + .5vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5em 2em 5em 2em;
    font-size: var(--font-size);
}

.content > h1 {
    position: relative;
    font-family: 'Rowdies', 'cursive';
}

.content > h1::after {
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    left: 3em;
    bottom: -.5em;
    background: var(--background);
}

.content > p {
    font-family: 'Dongle', 'sans-serif';
    font-size: 2em;
}

.fade_in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade_in.appear {
    opacity: 1;
}

/* ---------Third Section----------- */

.third-section {
    --background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background: var(--background);
}


.from_left {
    width: 100vw;
    background-image: url('../src/Images/markus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em;
    transform: translateX(-50%);
}


.from_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 100%;
    padding: 1em;
    transform: translateX(50%);
}

.from_right>p {
    font-family: 'Dongle', 'sans-serif';
}


.from-right {
    width: 100vw;
    background-image: url('../src/Images/paul.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em;
    transform: translateX(50%);
}


.from-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1em;
    font-size: 1.2em;
    transform: translateX(-50%);
}

.from-left > p {
    font-family: 'Dongle', 'sans-serif';
}

.from_left,
.from_right {
    transition:
        opacity 250ms ease-in,
        transform 400ms ease-in;
    opacity: 0;
}

.from_left.appear,
.from_right.appear {
    transform: translateX(0);
    opacity: 1;
}

.from-left,
.from-right {
    transition:
        opacity 250ms ease-in,
        transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

/* ---------Menu content--------- */

.head_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 3em 2em 3em;
    font-family: 'Great vibes', 'cursive';
}

.cards {
    --font-size: calc(1em + .8vw);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: 'Dongle', 'sans-serif';
    font-size: var(--font-size);
}

.rice-dish p span {
    color: red;
}

.rice-dish p span + span {
    color: green;
}

.rice-dish ul li span {
    color: green;
}

.chilli-only {
    color: red !important; 
}

.special-sat ul li span {
    color: green;
}

.fries-menu ul li span {
    color: green;
}

.small-chops ul li span {
    color: green;
}

.extra ul li span {
    color: green;
}

.bonus_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bonus {
    background: url('../src/Images/chef.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    padding: 10em;
    min-height: 100%;
}

/* -----------Contact---------- */

 .contact {
    background-image: linear-gradient(to bottom, rgba(32, 32, 43, 0.62), rgba(12, 10, 11, 0.83)), url("../src/Images/alexander.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 2rem;
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
 }

 .logo-div {
    font-family: 'Great vibes','cursive';
 }

/* -----------Media Query--------- */

@media screen and (min-width: 950px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        background: transparent;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .header {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;
        background: transparent;
    }

    nav li {
        cursor: pointer;
        opacity: 1;
        position: relative;
    }

    nav li::before {
        content: '';
        display: block;
        height: 3px;
        background: var(--background);
        position: absolute;
        /* bottom: -.5em; */
        /* top: -.75em; */
        left: 0;
        right: 0;
        transform: scale(0, 1);
        /* transform-origin: right; */
        transition: transform ease-in-out 250ms;
    }

    nav li:hover::before {
        transform: scale(1, 1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .second-section {
        font-size: var(--font-size);
        padding: 5em 8em 10em 8em;
    }

    /* .second_content > h1::after {
        left: 50px;
        bottom: -4px;
    } */

    .third-section {
        --background: #f4f4f4;
        display: grid;
        /* column-gap: 2em; */
        align-items: center;
        font-size: var(--font-size);
        background: var(--background);
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
        /* grid-template-columns: 1fr 1fr; */
    }

    .from_left {
        width: 100%;
        grid-column: 1 / 3;
        background-image: url('../src/Images/markus.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10em;
        transform: translateX(-50%);
    }

    .from_right {
        grid-column: 3 / 5;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        height: 100%;
        padding: 1em;
        transform: translateX(50%);
    }

    .from-right {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        width: 100%;
        background-image: url('../src/Images/paul.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10em;
        transform: translateX(50%);
    }

    .from-left {
        grid-column: 1 / 3;
        height: 100%;
        padding: 1em;
        font-size: 1.2em;
        transform: translateX(-50%);
    }

    .contact {
        padding-top: 5rem;
        font-size: 1.4rem;
    }



}

/* @media screen and (max-width: 1151px) {
    ---------Menu content---------

    .card {
        flex-direction: column;
    }

    .maxycard_image {
        padding: 5em;
    }

    .codedcard_image {
        padding: 5em;
    }

    .card_price {
        margin: 1.2rem 0 1.2rem 0;
    }
} */